<div class="container">
    <app-header (filterType)="filterType($event)"></app-header>
    <div class="card-deck row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let drink of drinks">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ drink.strDrinkThumb }}" alt="{{ drink.strImageAttribution }}">
                </div>
                <div class="card-body">
                    <button (click)="getDrinkDetails(drink.idDrink)" class="title-button">{{ drink.strDrink }}</button>
                    <p class="card-text">{{ drink.strInstructions | limitTo: 100 }}{{drink.strInstructions.length > 100
                        ? '...' : ''}}
                    </p>
                    <button type="button" class="btn btn-light-blue btn-md"
                        (click)="getDrinkDetails(drink.idDrink)">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>